<a href="https://colab.research.google.com/github/AtifahKamilah/Pejuang_Data_3/blob/main/M1P2V2_Variabel_dan_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel & Tipe Data

# Variabel

Variables : Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variabel

 1. karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan informasi.
 2. karakter pertama variable harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
 3. nama sebuah variabel tidak bisa menggunakan keyword atau rserved words dari bahasa python seperti for, if dan lainnya.
 4. karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
#Membuat variabel
kalimat   = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

#menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

LATIHAN 1

In [ ]:
#Membuat variabel
kalimatku  = 'ini adalah variabelku'
bilanganku1 = 8
bilanganku2 = 4.7
bilanganku3 = False
bilanganku4 = 2j + 8

#menampilkan variabel
print(kalimatku)
print(bilanganku1)
print(bilanganku2)
print(bilanganku3)
print(bilanganku4)

ini adalah variabelku
8
4.7
False
(8+2j)

# Tipe Data

5 tipe data yaitu :

 1. integer atau bilangan bulat
 2. float atau bilangan desimal
 3. string atau kalimat
 4. boolean yang terdiri dari True and False
 5. complex yang merupakan bilangan complex

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

LATIHAN 2

In [ ]:
# menampilkan tipe data
print(type(kalimatku))
print(type(bilanganku1))
print(type(bilanganku2))
print(type(bilanganku3))
print(type(bilanganku4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

# Konversi Tipe Data

Syntax Konversi type data :

  1. integer = int()
  2. float   = float()
  3. string  = str()
  4. boolean = bool()
  5. complex = complex()

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

LATIHAN 3

In [ ]:
# konversi tipe data integer
print(int(bilanganku2))
print(int(bilanganku3))
print('-'*20)

# konversi tipe data float
print(float(bilanganku1))
print(float(bilanganku3))
print('-'*20)

# konversi tipe data string
print(str(bilanganku1))
print(str(bilanganku2))
print(str(bilanganku3))
print('-'*20)

# konversi tipe data bool
print(bool(bilanganku1))
print(bool(bilanganku2))
print('-'*20)

# konversi tipe data complex
print(complex(bilanganku1))
print(complex(bilanganku2))
print(complex(bilanganku3))
print('-'*20)

4
0
--------------------
8.0
0.0
--------------------
8
4.7
False
--------------------
True
True
--------------------
(8+0j)
(4.7+0j)
0j
--------------------