<a href="https://colab.research.google.com/github/AtifahKamilah/Pejuang_Data_3/blob/main/M2P1V3_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
# Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#menampilkan tipe struktur data
type(T1)

tuple

LATIHAN 1

In [5]:
#Buatlah tuplemu sendiri
Tup1 = ("cahaya", "bulan", 8, True)
print("Ini adalah tupleku",Tup1)
print('-'*20)

#Menampilkan tipe struktur data
type(Tup1)

Ini adalah tupleku ('cahaya', 'bulan', 8, True)
--------------------

tuple

Sifat-sifat Tuple

In [9]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [8]:
#Tidak Bisa Diganti/Immutable
T1[2]="manusia"

TypeError: ignored

In [10]:
#Dapat Di indeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [11]:
#Dapat diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

Menggabungkan Tuple

In [12]:
#Menggabungkan Tuple
T3 = T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

LATIHAN 2

In [13]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
Tup2 = (4, 8.5, True, 8.5)
Tup2

(4, 8.5, True, 8.5)

In [14]:
Tup3 = Tup1+Tup2
Tup3

('cahaya', 'bulan', 8, True, 4, 8.5, True, 8.5)