<a href="https://colab.research.google.com/github/AtifahKamilah/Pejuang_Data_3/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

  a. list()  : untuk mengubah menjadi list
  
  b. tuple() : untuk mengubah menjadi tuple
  
  c. set()   : untuk mengubah menjadi set

  d. dict()  : untuk mengubah menjadi dictionary

# Mengkonversi tipe data list :

In [2]:
#Membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [3]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set   = set(L2)
k_dict  = dict(zip(L1, L2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data tuple

In [4]:
#Membuat dua tuple
T1 = (1,2,3,4)
T2 = (5,6,7,8)

In [5]:
#Mengkonversi struktur data tuple
k_list = tuple(T1)
k_set   = set(T2)
k_dic  = dict(zip(T1, T2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dic)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data set

In [9]:
#Membuat dua set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [11]:
#Mengkonversi struktur data set
k_list  = list(S1)
k_tuple = tuple(S2)
k_dict  = dict(zip(S1,S2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi tipe data dictionary:

In [12]:
#Membuat dictionary
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [13]:
#Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'alamat', 'umur'}

# LATIHAN

In [14]:
#Lakukan Konversi struktur data yang kalian buat pada notebook notebook
#sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

#1. Data list
Mylist1 = [4,8,10,20]
Mylist2 = ["m","moon",8]

#Mengkonversi struktur data list
k_tuple = tuple(Mylist1)
k_set   = set(Mylist2)
k_dict  = dict(zip(Mylist1, Mylist2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(4, 8, 10, 20)
{8, 'moon', 'm'}
{4: 'm', 8: 'moon', 10: 8}

In [15]:
#2. Data Tuple
Tup1 = ("cahaya", "bulan", 8, True)
Tup2 = (4, 8.5, True, 8.5)

#Mengkonversi struktur data tuple
k_list = tuple(Tup1)
k_set   = set(Tup2)
k_dic  = dict(zip(Tup1, Tup2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dic)

('cahaya', 'bulan', 8, True)
{8.5, True, 4}
{'cahaya': 4, 'bulan': 8.5, 8: True, True: 8.5}

In [17]:
#3. Data Set
Set1 = {8, "sembilan", True, 8+5j}
Set2 = {10, "lima", True, 2+3j}

#Mengkonversi struktur data set
k_list  = list(Set1)
k_tuple = tuple(Set2)
k_dict  = dict(zip(Set1,Set2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[8, True, (8+5j), 'sembilan']
(True, 10, (2+3j), 'lima')
{8: True, True: 10, (8+5j): (2+3j), 'sembilan': 'lima'}

In [19]:
#4. Data Dictionary
Dict = {
    "nama": "Atifah",
   "alamat": "Balikpapan",
   "umur": 19
}

#Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(Dict.keys())
k_tuple = tuple(Dict.values())
k_set = set(Dict.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Atifah', 'Balikpapan', 19)
{'nama', 'alamat', 'umur'}